<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="form-floating">
            <label for="floatingInput">Username</label>
            <input type="text" name="username">
          </div>
          <div class="form-floating">
            <label for="floatingPassword">Password</label>
            <input type="password" name="password">
        <button id = 'button' type="submit">註冊</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red;">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{{ message }}{% endif %}</p>
    {% endfor %}
    {% endif %}
</body>
</html>