<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
</head>
<body>
    <div class="wrap"  >
        <div class="search">
        <input class="search-bar" type="text" name="search" id="search" placeholder="輸入名稱" >
        <button class="search-btn"></button>
        </div>
    </div>

    <div>
        <div style="display: inline;">
            <textarea></textarea>
        </div>

        <div style="display: inline;">
            <button></button>
        </div>
    </div>
</body>
</html>